@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #E5FDE8;
    height: 100vh;
    background-size: 100% 100%;
}

.container .navbar{
    width: 100%;
    height: 80px;
    background: #CFBAF0;
}

.navbar .logo{
    display: inline-block;
    margin-left: 50px;
}

.navbar ul{
    float: right;
    margin-right: 20px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
    font-weight: bold;
}

.navbar ul li a{
    color: #FBF8CC;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 13px;
    font-family: Roboto;
    transition: .5s;
}

.navbar ul li a.active, 
.navbar ul li a:hover{
    background: #AD8AE5;
    border-radius: 2px;
}

.center h3{
    color: #A3C4F3;
    font-family: Righteous;
    font-weight: bold;
    font-size: 50px;
    margin-top: 20px;
    text-align: center;
}

.center h4{
    color: black;
    font-family: sans-serif;
    font-size: 20px;;
    text-align: center;
    margin-top: 40px;
}
.table{
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.table a{
    color:#AD8AE5;
}

.ingredients{
    margin-top: 50px;
    line-height: 30px;
    margin-bottom: 20px;
}

.ingredients h3{
    color:#AD8AE5;
    margin-left: 30px;
    font-size: 30px;
}

.ingredients ul li{
    font-family: Roboto;
    font-size: 20px;
    list-style: circle;
    margin-left: 50px;
}

.ingredients h4{
    margin-left: 30px;
    font-size: 22px;
}

.ingredients ol li{
    font-family: Roboto;
    font-size: 20px;
    margin-left: 50px;
}

.divide{
    text-align: center;
    padding-top: 30px;
}

footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #CFBAF0;
    height: 30%;
    width: 100vw;
    padding-top: 40px;
    color: #FBF8CC;
    font-family: Roboto;
    font-weight: 600;
    margin-top: 70px;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    font-weight: bolder;
    text-transform: uppercase;
}

.footer-content p{
    max-width: 500px;
    line-height: 28px;
    font-size: 14px;
    color: #000;
}

.socials{
    list-style: none;
    display: flex;
    justify-content: center;
    background: #CFBAF0;
    width: 100%;
}

.socials li{
    margin: 30px 20px;
    justify-content: center;
}

.socials a{
    color: #FBF8CC;
    border: 1.5px solid white;
    padding: 25px;
    border-radius: 50%;
    justify-content: center;
    margin-top: 30px;
}

.socials a i{
    font-size: 32px;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i{
    color: #dd47b3;
}

.footer-bottom{
    background: #CFBAF0;
    width: 100%;
    padding-bottom: 40px;
    text-align: center;
}

.footer-bottom p{
    float: left;
    font-size: 14px;
    word-spacing: 2px;
}

.footer-bottom p a{
    color: #4589e9;
    font-size: 16px;
}

.footer-bottom span{
    float: right;
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.footer-menu{
    justify-content: center;
    background: #CFBAF0;
    width: 100%;
}

.footer-menu ul{
    display: flex;
}

.footer-menu ul li{
    font-size: 20px;
    padding-right: 10px;
    display: block;
}

.footer-menu ul li a{
    color: #6193d5;
    text-transform: uppercase;
}

.footer-menu ul li a:hover{
    color: #277bda;
}

@media (max-width:500px){
    body{
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px; 
    }
    .footer-menu ul{
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}